<div class="row">
  <div class="column">
<div class="card">
    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
    <div class="card-body">
      <h5 class="card-title">Cool stuff</h5>
      <p class="card-text">I learned angular.</p>
      <a href="#!" class="btn btn-primary">Click here</a>
    </div>
  </div>
</div>

<div class="column">
  <div class="card">
    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
    <div class="card-body">
      <h5 class="card-title">Epic stuff</h5>
      <p class="card-text">More angular soon.</p>
      <a href="#!" class="btn btn-primary">Click here</a>
    </div>
  </div>
</div>

  <div class="column">
  <div class="card">
    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
    <div class="card-body">
      <h5 class="card-title">Awesome stuff</h5>
      <p class="card-text">In progress angular.</p>
      <a href="#!" class="btn btn-primary">Click here</a>
    </div>
  </div>
</div>
</div>