<div class="accordion">
<mdb-accordion>
    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>Read here</ng-template>
      <ng-template mdbAccordionItemBody>
        First angular site!
      </ng-template>
    </mdb-accordion-item>
  
    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>Read here 2</ng-template>
      <ng-template mdbAccordionItemBody>
        This was a good test!
      </ng-template>
    </mdb-accordion-item>
  
    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>Read here 3</ng-template>
      <ng-template mdbAccordionItemBody>
        More to come soon!
      </ng-template>
    </mdb-accordion-item>
  </mdb-accordion>
</div>